<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExternalDirectxOverlayNet2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <ExternalDirectxOverlayNet2.Properties.Settings>
      <setting name="TextColor" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="ghkFindHeroBind" serializeAs="String">
        <value>Control, Alt, F</value>
      </setting>
      <setting name="ghkToggleVisibilityBind" serializeAs="String">
        <value>Control, Alt, V</value>
      </setting>
      <setting name="ghkOptionsMenuBind" serializeAs="String">
        <value>Control, Alt, O</value>
      </setting>
      <setting name="ghkCloseApplicationBind" serializeAs="String">
        <value>Control, Alt, Q</value>
      </setting>
      <setting name="ghkNextTalentBind" serializeAs="String">
        <value>Control, Left</value>
      </setting>
      <setting name="ghkPrevTalentBind" serializeAs="String">
        <value>Control, Right</value>
      </setting>
    </ExternalDirectxOverlayNet2.Properties.Settings>
  </userSettings>
</configuration>
