<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExternalDirectxOverlayNet2.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>  
  <userSettings>
    <ExternalDirectxOverlayNet2.Settings1>
      <setting name="textColor" serializeAs="String">
        <value>Red</value>
      </setting>
    </ExternalDirectxOverlayNet2.Settings1>
  </userSettings>
</configuration>
